@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Aexir';
  src: url('/public/Font/Aexir.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}





body {
 background-image: url("/public/Motivo.webp"); 
  background-repeat: repeat;
  background-size: auto; 

  overflow-y: auto;
min-height: 100vh; 
  font-family: 'Aexir', sans-serif;

}



/* .xd{
  background-image: url("/public/Motivo.webp"); 
  background-repeat: repeat;
  background-size: auto; 
background-color: black;

min-height: 100vh; 
}
 */

.glow-text {
  text-shadow: 0 0 10px rgb(255, 240, 27), 
               0 0 20px rgba(255, 240, 27, 0.5), 
               0 0 30px rgba(255, 240, 27, 0.4); 
}








.index-button{
  z-index: 70;
}









.black-background {
  z-index: 100;
}





@keyframes inicio {
  0% {
    opacity: 1;
  }
  100% {
 opacity: 0;
  }

}

.test {
animation:inicio 1s forwards;
}


